# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sdf
*.vcxproj.user
*.ilk
*.pdb
*.suo
VolleyballClient/Debug/*
VolleyballLib/Debug/*
VolleyballServer/Debug/*
*.opensdf
*.log
*.tlog
